<!DOCTYPE html>
<html>

<head>
  <title>
    DAB - Adopt Animal
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="container-fluid mt-5 text-center">

    <%- include('./partials/navbar.ejs', {user: user}) %>
      <h1>
        DAB - Adopt an Animal Course Assignment
      </h1>
      <p>Welcome to the course assignment for DAB
      </p>
      <div>
        <img src="/img/home.png" alt="">
      </div>
      </container>
</body>

</html>